@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Nunito:wght@300;400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.navbar{
    position: absolute;
    top:70px;
    height: auto;
    
}



body{
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.overlay{
 background-color: rgba(256 ,256, 256 ,0.6);
 
}

.screen{
 max-height: calc(100vh-72px);
}

.small{
    
}

.slider{
   display: flex;
   justify-items: center;
   align-items: center;
   width: 200px;
   height: auto;
   margin: 20px;
 
 

    
}

#img{
height: 90%;
}


.move{
    top: 90%;
    margin-top: 10px;
}

@media (min-width: 641px){

    .active{
        color:  rgb(239 68 68  );
        
        opacity: 1;
     }

     .active::before{
        content: "";
        width: 30px;
        height: 2px;
        background-color:rgb(239 68 68 );
        position: absolute;
        bottom: 20px;
        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
        
    
    }
}


/* bgPrimary - f5f3f3 */
@media (max-width: 640px){
    .active{
        color: rgb(239 68 68);
        opacity: 1;
     }
     
     /* .active::after{
      
        
            content: "";
            margin-top: -46px;
            width: 30%;
            height: 1px;
            background-color: rgb(249 115 22);
            position: absolute;
            left: 0;
           
            border-top-left-radius: 0%;
            border-top-right-radius: 0%;
            
        
        
        
    
    } 
    .active::before{
      
        
        content: "";
        width: 30%;
        height: 1px;
        background-color: rgb(248 115 22);
        position: absolute;
        right: 0;
        margin-top: 44px;
     
       
        border-top-left-radius: 0%;
        border-top-right-radius: 0%;   
   }  */
  

}
    