@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Nunito:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@300;400;500&family=Nunito:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



*,body{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
}

.navbar{
    position: absolute;
    top:70px;
    height: auto;
    
}
.font-type{
    font-family: 'Lato', sans-serif;
}


.content{
  display: flex;

}

.items-section{
    height: calc(100vh - 150px);
    overflow-y: scroll;
}

.cart{
   z-index: 100;
   font-family: 'Source Sans Pro', sans-serif;
}

.sansPro{
    font-family: 'Source Sans Pro', sans-serif;
}

.index{
    z-index: 100;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap:  10px;
    
}

body{
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    box-sizing: border-box;
}


.subtotal{
    display: flex;
    justify-content:space-around;
    position: absolute;
    bottom: 0;
    
}

.cartheight{
    height: calc(100vh - 133px);
}

.mobile-cart{
 background: rgb(255, 255, 255);
 z-index: 150;
 height: 100%;
 overflow-y: scroll;
 position: fixed;
 width: 100vw;
 top: 0;
 right: 0;
 bottom:0;
 z-index: 999;
 left: 0;
 font-family: 'Source Sans Pro', sans-serif;
 
}

.overlay{
 background-color: rgba(256 ,256, 256 ,0.6);
 
}

.screen{
 max-height: calc(100vh-72px);
}

.success{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    z-index: 300;
}

.slider{
   display: flex;
   justify-items: center;
   align-items: center;
   width: 200px;
   height: auto;
   margin: 20px;
   outline: none;
 
 

    
}

.modal{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    z-index: 200;
   background-color: rgba(36, 36, 34, 0.3); ;
}

.home{
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    padding: 8px;
    margin: 10px  0;
    width: 200px;
}


.inner_Flutter_Modal{
  z-index: 200;
}


#img{
height: 90%;
}


.move{
    top: 90%;
    margin-top: 10px;
}
@media (max-width: 1024px){
    .cards{
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap:  10px;
        
    }
}

@media (max-width: 764px){

    .active{
        color:  rgb(239 68 68  );
        
        opacity: 1;
     }
   
     .active::before{
        content: "";
        width: 30px;
        height: 2px;
        background-color:rgb(239 68 68 );
        position: absolute;
        bottom: 20px;
        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
        
    
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap:  10px;
        
    }
}


/* bgPrimary - f5f3f3 */
@media (max-width: 640px){
    .active{
        color: rgb(239 68 68);
        opacity: 1;
     }
     .cards{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap:  10px;
        
    }
     
   
        
        
        
    


}
    